### classification models

- k nearest neighbours
- Logistic Regression
- Support vector machine learning
- decision tree
- random forest

In [1]:
# k nearest neighbours
# simple and easy algorithm

 step1 select k no of neighbours
 step2  distance=sqrt((x2-x1)^2+(y2-y1)^2)
 step3 
       it assaigns new data point to nearest classifier

In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv('https://raw.githubusercontent.com/nagamounika5/Datasets/master/IRIS.csv')
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [5]:
df['species'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: species, dtype: int64

In [6]:
x=df.drop(['species'],axis=1)  # independent variable
y=df['species']

In [7]:
x.head(3)

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2

In [9]:
y.value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: species, dtype: int64

### split data for training and testing

In [10]:
from sklearn.model_selection import train_test_split

In [22]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=1)

In [23]:
xtrain.shape,xtest.shape

((120, 4), (30, 4))

In [24]:
ytrain.shape,ytest.shape

((120,), (30,))

In [17]:
xtest

     sepal_length  sepal_width  petal_length  petal_width
14            5.8          4.0           1.2          0.2
98            5.1          2.5           3.0          1.1
75            6.6          3.0           4.4          1.4
16            5.4          3.9           1.3          0.4
131           7.9          3.8           6.4          2.0
56            6.3          3.3           4.7          1.6
141           6.9          3.1           5.1          2.3
44            5.1          3.8           1.9          0.4
29            4.7          3.2           1.6          0.2
120           6.9          3.2           5.7          2.3
94            5.6          2.7           4.2          1.3
5             5.4          3.9           1.7          0.4
102           7.1          3.0           5.9          2.1
51            6.4          3.2           4.5          1.5
78            6.0          2.9           4.5          1.5
42            4.4          3.2           1.3          0.2
92            5.8          2.6           4.0          1.2
66            5.6          3.0           4.5          1.5
31            5.4          3.4           1.5          0.4
35            5.0          3.2           1.2          0.2
90            5.5          2.6           4.4          1.2
84            5.4          3.0           4.5          1.5
77            6.7          3.0           5.0          1.7
40            5.0          3.5           1.3          0.3
125           7.2          3.2           6.0          1.8
99            5.7          2.8           4.1          1.3
33            5.5          4.2           1.4          0.2
19            5.1          3.8           1.5          0.3
73            6.1          2.8           4.7          1.2
146           6.3          2.5           5.0          1.9

**apply knn classifier

In [28]:
from sklearn.neighbors import KNeighborsClassifier

In [29]:
knn=KNeighborsClassifier(n_neighbors=3)

In [30]:
knn.fit(xtrain,ytrain)

KNeighborsClassifier(n_neighbors=3)

In [34]:
y_predict=knn.predict(xtest)
y_predict

array(['Iris-setosa', 'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa',
       'Iris-virginica', 'Iris-versicolor', 'Iris-virginica',
       'Iris-setosa', 'Iris-setosa', 'Iris-virginica', 'Iris-versicolor',
       'Iris-setosa', 'Iris-virginica', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-setosa', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-setosa', 'Iris-setosa', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa',
       'Iris-virginica', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [36]:
xtest.head(3)

    sepal_length  sepal_width  petal_length  petal_width
14           5.8          4.0           1.2          0.2
98           5.1          2.5           3.0          1.1
75           6.6          3.0           4.4          1.4

In [35]:
ytest[:3]

14        Iris-setosa
98    Iris-versicolor
75    Iris-versicolor
Name: species, dtype: object

In [40]:
knn.predict([[5.1,3.8,1.5,0.3]])

array(['Iris-setosa'], dtype=object)

In [42]:
knn.predict([[3.1,5.8,5.9,4.9]])

array(['Iris-virginica'], dtype=object)

**evaluation metrics for classification mode**

In [43]:
from sklearn.metrics import accuracy_score

In [44]:
accuracy_score(ytest,y_predict)

1.0

In [ ]:
if not satisfied with accuracy increase neighbor count (k)

In [45]:
df2=pd.read_csv('https://raw.githubusercontent.com/harika-bonthu/SupportVectorClassifier/main/datasets_229906_491820_Fish.csv')

In [46]:
df2.isnull().sum().sum()

0

In [53]:
df2.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

In [55]:
df2['Species'].value_counts()

Perch        56
Bream        35
Roach        20
Pike         17
Smelt        14
Parkki       11
Whitefish     6
Name: Species, dtype: int64

In [60]:
x=df2.drop(['Species'],axis=1)  # independent variable
y=df2['Species']

In [47]:
from sklearn.neighbors import KNeighborsClassifier

In [62]:
knn=KNeighborsClassifier(n_neighbors=3)

In [61]:
from sklearn.model_selection import train_test_split

xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=1)
xtrain.shape,xtest.shape

((127, 6), (32, 6))

In [63]:
knn.fit(xtrain,ytrain)

KNeighborsClassifier(n_neighbors=3)

In [64]:
y_predict=knn.predict(xtest)
y_predict

array(['Perch', 'Perch', 'Bream', 'Perch', 'Perch', 'Bream', 'Parkki',
       'Bream', 'Smelt', 'Parkki', 'Perch', 'Parkki', 'Smelt', 'Perch',
       'Perch', 'Perch', 'Parkki', 'Bream', 'Perch', 'Parkki', 'Smelt',
       'Perch', 'Perch', 'Bream', 'Perch', 'Bream', 'Bream', 'Smelt',
       'Pike', 'Parkki', 'Perch', 'Perch'], dtype=object)

In [65]:
accuracy_score(ytest,y_predict)

0.59375

In [ ]:
not suuficient accuracy so increase neighbors

In [71]:
x=df2.drop(['Species'],axis=1)  # independent variable
y=df2['Species']

In [72]:
from sklearn.model_selection import train_test_split

xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=1)
xtrain.shape,xtest.shape

((127, 6), (32, 6))

In [82]:
knn=KNeighborsClassifier(n_neighbors=11)
knn.fit(xtrain,ytrain)

KNeighborsClassifier(n_neighbors=11)

In [83]:
y_predict=knn.predict(xtest)
y_predict

array(['Perch', 'Perch', 'Bream', 'Perch', 'Perch', 'Bream', 'Roach',
       'Bream', 'Smelt', 'Roach', 'Perch', 'Roach', 'Smelt', 'Perch',
       'Perch', 'Perch', 'Perch', 'Bream', 'Pike', 'Perch', 'Smelt',
       'Smelt', 'Roach', 'Bream', 'Perch', 'Perch', 'Bream', 'Smelt',
       'Perch', 'Roach', 'Perch', 'Perch'], dtype=object)

In [84]:
accuracy_score(ytest,y_predict)

0.5625